<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="person" class="com.sty.basic.Person"></bean>  -->
    <bean name="person" class="com.sty.basic.Person"></bean>   <!--id的默认值com.sty.basic.Person#0-->


    <!--<bean name="userServiceImpl" class="com.sty.basic.UserServiceImpl"></bean>-->

</beans>